# Node modules
node_modules/
npm-debug.log

# Environment variables
.env
firebase_admin.json

# Logs
logs/
*.log

# Build files
dist/
build/

# Firebase functions (if used)
functions/node_modules/
functions/package-lock.json

# Vercel and Netlify
.vercel/
.netlify/

# OS-specific files
.DS_Store
Thumbs.db
